.layout-container{
    margin: 1rem 0;
    padding: 0.5rem 0.5rem;
    border: solid 2px black;
    border-radius: 5px;
}

.page-card{
    padding: 0.5rem 1.5rem;
    border: solid 2px grey;
    border-radius: 5px;
    margin: 2rem 0;
}

.customer-button{
    margin: 0.75rem 0.75rem;
}